:root {
  --background-color: #f0f0f0;
  --grey-text: #999999;
}

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  color: var(--text-color);
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

pre {
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root,
.App {
  width: 100%;
  height: 100%;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

.circle {
  width: 80vmin;
  min-width: 35em;
  height: 80vmin;
  min-height: 35em;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  margin-top: -50px;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 50px 0px 30px 0px;
}

.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}

.or {
  color: var(--grey-text);
  margin: 0px 20px;
}

.phraseBox {
  background-color: var(--background-color);
  outline: none;
  border: 0;
  border-radius: 10%;
  font-size: 1.5em;
  width: 100%;
  min-width: 5ch;
  padding: 5px;
}

.button {
  align-self: center;
  background: none;
  border: none;
  outline: none;
  margin-top: 20px;
}

.results {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.phraseBox::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  opacity: 0.5;
}
.phraseBox::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 0.5;
}
.phraseBox:-ms-input-placeholder {
  /* IE 10+ */
  opacity: 0.5;
}
.phraseBox:-moz-placeholder {
  /* Firefox 18- */
  opacity: 0.5;
}
